@import '_vars';
@import '_global';
@import '_fonts';
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    @include f700;
}

// header start
.menu__item {
    display: inline-block;
    &+.menu__item {
        margin-left: 50px;
    }
}

.header {
    &__box {
        display: flex;
    }
    &__adress {
        margin-right: 60px;
        width: 265px;
        padding-left: 30px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/adress-icon.svg);
            width: 30px;
            height: 30px;
            left: 0;
            top: -10px;
        }
    }
}

.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
    &__item {
        padding-right: 10px;
        .basket {
            position: relative;
            &__num {
                position: absolute;
                @include f500;
                line-height: 20px;
                font-size: 10px;
                text-align: center;
                width: 20px;
                height: 20px;
                background-color: #1C62CD;
                border-radius: 50%;
                bottom: -15px;
                right: -14px;
                color: #ffff;
            }
        }
    }
}

.header__bottom {
    margin-bottom: 80px;
}

.menu-categories {
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
    &__item {
        position: relative;
    }
    &__link {
        position: relative;
        transition: all .5s;
        @include f400;
        padding: 15px 0px 14px;
        &:hover {
            color: #000;
        }
        &::before {
            content: "";
            position: absolute;
            width: 0;
            left: auto;
            right: 0;
            height: 3px;
            bottom: -2px;
            transition: all .5s;
            background-color: #1C62CD;
        }
        &:hover::before {
            width: 100%;
            right: auto;
            left: 0;
        }
    }
}

// header end
// banner start 
.banner-section {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__slider {
        max-width: 870px;
    }
    &__slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        cursor: pointer;
    }
    &__slider-btnnext {
        right: 20px;
    }
    &__slider-btnprev {
        left: 20px;
    }
}

.slider-item-img {
    object-fit: contain;
}

.page-section {
    margin-bottom: 80px;
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    li {
        display: inline-block;
        padding: 0px 5px;
    }
    button {
        padding: 0;
        font-size: 0;
        margin: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #ffff;
        border-radius: 50%;
        background-color: transparent;
    }
}

.slick-active button {
    background-color: #fff;
}

.sale-item {
    max-width: 265px;
    max-height: 400px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__info {
        color: #fff;
        background-color: #1C62CD;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &__price {
        text-align: right;
    }
    &__price-new {
        font-weight: 700;
        font-size: 27px;
        color: #1C62CD;
        line-height: 32px;
        margin-right: 6px;
        padding-right: 20px;
        &::after {
            content: '';
            background-image: url('../images/icons-price.svg');
            position: absolute;
            right: 0;
            width: 15px;
            height: 18px;
            top: 8px;
        }
    }
    &__price-old {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
        margin-right: 15px;
        background-image: url('../images/old-line.svg');
        padding: 2px 5px;
        background-repeat: no-repeat;
        display: inline-block;
        &::after {
            content: '';
            background-image: url('../images/icons-price-old.svg');
            position: absolute;
            right: -10px;
            width: 8px;
            height: 10px;
            top: 5px;
        }
    }
    &__footer {
        background-color: #F0F0F4;
        padding: 25px 20px;
        font-size: 18px;
        line-height: 21px;
        span {
            color: #1C62CD;
            display: block;
            font-family: 'Barlow', sans-serif;
            font-weight: 700;
        }
    }
    &__title {
        font-size: 18px;
        @include f700;
        line-height: 21px;
        margin-bottom: 7px;
    }
    &__img {
        object-fit: contain;
    }
}

// banner end
// search start
.search__tabs-item.tab--active {
    background: #F0F0F4;
    border-radius: 5px;
    @include f700;
}

.search__tabs {
    margin-bottom: 25px;
    &-item {
        padding: 11px 26px 12px;
    }
}

.search__content {
    &-item {
        display: none;
        &--active {
            display: block;
        }
    }
    &-form {
        display: flex;
    }
    &-btn {
        @include f700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
        border-radius: 3px;
        padding: 17px 41px;
        background: #1C62CD;
        border: none;
        margin-left: -3px;
    }
    &-input {
        background: #F0F0F4;
        border-radius: 3px;
        border: none;
        padding: 5px 20px;
        font-size: 16px;
        line-height: 19px;
        width: 100%;
        &::placeholder {
            color: #656464;
        }
    }
}

.tabs-content.tabs-content--active {
    display: block;
}

// search end
// catigories start
.catigories {
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin-bottom: 30px;
        border-radius: 3px;
        border: 1px solid #CDCDCD;
        width: 340px;
        display: flex;
        padding: 20px 20px 16px;
        justify-content: space-between;
        &:hover {
            transition: all .3s;
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
            .catigories__item-title {
                color: #1C62CD;
            }
        }
        &-info {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-img {
            text-align: center;
            width: 50%;
            img {
                max-width: 100%;
            }
        }
        &-title {
            @include f700;
            font-size: 23px;
            line-height: 28px;
            transition: all .3s;
        }
        &-text {
            font-size: 14px;
            line-height: 17px;
            color: #C4C4C4;
            &::after {
                content: url('../images/arrow-link.svg');
                padding-left: 2px;
            }
        }
    }
}

// catigories end
//products start
//products end
.product {
    &-item__wrapper {
        position: relative;
        width: 271px;
    }
    &-item {
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        text-align: center;
        padding: 52px 20px 31px;
        &:hover {
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
            color: #1C62CD;
        }
        &--sale::before {
            content: 'SALE';
            padding: 8px 15px;
            background-color: #1C62CD;
            position: absolute;
            color: #fff;
            left: 0;
            top: 0;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.07em;
        }
        &__title {
            font-weight: normal;
            padding: 14px 1px 25px;
        }
        &__favorite {
            position: absolute;
            top: 16px;
            right: 19px;
            width: 24px;
            height: 22px;
            background-color: transparent;
            border: none;
            outline: none;
            z-index: 5;
            &::before {
                content: '';
                position: absolute;
                width: 24px;
                height: 22px;
                top: 0;
                left: 14px;
                outline: none;
                background-image: url('../images/favorit.svg');
            }
            &--active::before {
                background-image: url('../images/favorit-active.svg');
            }
        }
        &__basket {
            position: absolute;
            width: 60px;
            height: 40px;
            background-color: #fff;
            background: #1C62CD;
            border-radius: 10px 0 0 0;
            bottom: 0;
            right: 0;
            border: none;
            padding-top: 7px;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                background-image: url(../images/basket-white.svg);
                width: 30px;
                height: 23px;
                background-repeat: no-repeat;
            }
        }
        &__price {
            font-weight: bold;
            font-size: 30px;
            line-height: 36px;
        }
        &__hover-text {
            padding: 18px 21px;
            background-color: rgba(255, 255, 255, .9);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            display: inline-block;
            position: absolute;
            top: 30%;
            color: #2F3035;
            opacity: 0;
            transition: all .3s;
            &:hover {
                opacity: 1;
            }
        }
    }
}